<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="css/app.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
            <div id="top">
                <div class="container">
                <div class="clearfix">
                    <div class="pull-right">
                        <p class="social clearfix" style="margin-top: 7px;">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </p>
                        
                    </div>
                </div>
            </div>
            </div>
        
             <div class="navbar-affixed-top" data-spy="affix" data-offset-top="100">
                 <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>                        
                             </button>
                          <a style="padding:0px" class="navbar-brand" href="#"><img src="images/altran_logo.png" alt="Company Logo" style="max-height:100%"></a>
                        </div>
                          <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                              <li class="active"><a href="#">Home</a></li>
                              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Page 1<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Page 1.1</a></li>
                                    <li><a href="#">Page 1.2</a></li>
                                    <li><a href="#">Page 1.3</a></li>
                                    <li><a href="#">Page 1.4</a></li>
                                </ul>
                              </li>
                              <li><a href="#">Page 2</a></li>
                              <li><a href="#">Page 3</a></li>
                            </ul>
                          </div>
                      </div>
                 </nav>
            </div>
        </header>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div class="credits text-center">
        <p>
            <a href="http://jasonwatmore.com/post/2015/03/10/angularjs-user-registration-and-login-example-tutorial">AngularJS User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com">JasonWatmore.com</a>
        </p>
    </div>

    

    <script src="app/app.js"></script>
    <script src="js/services/authentication.service.js"></script>
    <script src="js/services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <!-- <script src="app-services/user.service.js"></script> -->

    <!-- Fake user service for demo that uses local storage -->
    <script src="js/services/user.service.local-storage.js"></script>
<script src="js/controllers/home.controller.js"></script>
    <script src="js/controllers/login.controller.js"></script>
    <script src="js/controllers/register.controller.js"></script>
    <script src="js/controllers/dashboard.controller.js"></script>
</body>
</html>