/*START Cutom CSS*/

a:focus {
  outline: medium none;
  outline-offset: 0;
}
.sidebar .nav-sidebar li a i{
	font-size: 18px;
	margin-right: 10px;
	vertical-align: middle;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}
.sidebar .nav-sidebar li a{color: #3f51b5;}
.sidebar .nav-sidebar li.active a{color: #fff;}
.border-right{border-right: 1px solid #0d0d0d;}
.margin-bottom{margin-bottom: 24px;}
.custom-datepicker {
  width: 100px;
}
input,
textarea,
select {
    background-color: transparent;
    border: 0 none;
}
textarea {
	width: 100%;
}
h1,
h2,
h3,
h4{
	color: #3f51b5;
}
/*START Cutom CSS inserite singolarmente per pagina*/
.checkbox{
	margin-bottom: 23px;
}
.panel-group {
      margin-top: 8px;
    }
.error {
  color: red;
  padding: 3px 0px 0px 10px;
}
.panel-title input {
  text-align: center;
  width: 100%;
}
.ok{
  color: #009587;
  padding: 3px 0px 0px 10px;
}
.panel-body > label {
    padding-top: 20px;
}
.align{
  text-align: center;
}